


<div class="container" align="center">
  <div>
    <h2>Search your favorite recipe by ingredient</h2>
    <p>Searching for more than 1 ingredient/recipe? => add comma between ingredients</p>
  </div>
  <div class="search container">
    <%= form_tag recipes_index_path, method: :get, id: 'search' do %>
      <%= label_tag :ingredient %>
      <%= text_field_tag :search , '', placeholder: 'Enter ingredients(comma!)' , :required => true %>
      <%= submit_tag "Search", class: 'btn btn-success' %>
    <% end %>
  </div>

  <% unless params[:search].nil? %>
  <div class="results">
    <h2>Results for <%= params[:search] %>(<%= @recipes.count %>)</h2>
    
    <table border="1" class="col-md-offset-3 col-xs-offset-3" align="center">
      <tr>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>Social Rank</th>
      </tr>
      <% @recipes.each do |recipe| %>
        <tr class=<%= cycle('even', 'odd') %>>
          <td><%= link_to(image_tag(recipe["image_url"]), recipe['f2f_url'])%></td>
          <td><%= link_to(sanitize(recipe["title"]), recipe['f2f_url']) %></td>
          <td><%= sprintf '%.2f', recipe["social_rank"] %></td>
        </tr>
      <% end %>
    </table>

  </div>
  <% end %>
</div>